.body-map {
    padding: 0 0 24px;
    display: flex;
    justify-content: center;
    align-items: center
}

.body-map__container {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap
}

.body-map__body {
    height: 800px;
    max-width: 50%
}

.body-map__model {
    color: #000
}

.body-map__muscle {
    color: #ebebeb;
    transition: color 25ms ease-in-out
}

.body-map__muscle:hover {
    color: #fe5b7f;
    cursor: pointer
}

@media screen and (max-width: 600px) {
    .body-map__body {
        height:650px;
        max-width: 100%
    }
}

@media screen and (max-width: 500px) {
    .body-map__body {
        height:650px;
        max-width: 100%
    }
}

@media screen and (max-width: 360px) {
    .body-map__body {
        height:600px;
        max-width: 100%
    }
}

@media screen and (max-width: 320px) {
    .body-map__body {
        height:500px;
        max-width: 100%
    }
}
.map{
    text-align: center;
    
    border-radius: 30px;
    background-image: linear-gradient(rgba(66, 8, 143, 0.75),rgba(168, 23, 23, 0.75)),url(img/mbackground.jpg);
    background-position:center ;
    background-size: cover;
outline-style: inset;
outline-color: rgb(110, 172, 123);
outline-width: 10px;
margin-bottom: 20px;
}